<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=|DataDirectory|\bmnd.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
  <!--<appSettings>
    <add key ="ConexaoBD" value="datasource=localhost;Port=3306;user=root; password=; database=bmnd"/>
  </appSettings>-->
</configuration>